$xl: 1400px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;
$cinza01:#C4C4C4;
$cinza02:#F4F4F4;
$cinza03: #656060;
$azul01: #5396FF;
$azul02: #0D3643;
$verde01: #C1FEC9;
$verde02: #63A887;
$branco:white;
